@font-face{
    font-family: myfont;
    src: url(./fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}

@font-face{
    font-family: newfont;
    src: url(./fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);

}

#textwrapper{
    width: 100vw;
    display: flex;
    justify-content: center;


}

html{
     cursor: url(./logos/klein.png), auto;   /* ??? */
     height: 100%;
}


body{
    background-image: url("images/boxring.webp");
    object-fit: fill;
    background-repeat: repeat;
    font-family: newfont;

}

nav{
    background-color: rgba(2, 223, 190, 60%);
    font-size: 2vw;
    border-radius: 8%;
}



nav ul{ 
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding:0%;
    gap: 5rem;

}

nav a:hover{
    font-size: 2.5vw;
    opacity: 75%;

}

a:visited{
    color: crimson;
}

#logo{
    padding-right: 50%;
    z-index: 0;
    height: 100px;
    
}

#grilled{
    padding-right: 50%;
    z-index: 0;
    height: 100px;
    
}


#grilled:hover{
    height: 120px;
}


#logo:hover{
    height: 120px; 
}


h1{
    text-align: center;
    font-family: myfont;
    font-size: 10vh;
    padding: 0%;
    margin:0%
    color: rgb(255, 20, 0);
   transition: background-color 1s;
   

}

h1:hover{
    font-family: myfont;
    background-color: blueviolet;

}

h2{
    text-align: center;
    font-family: myfont;
    margin-top: 15px;
    font-size: 8vh;

}

h3{
    text-align: center;
    font-family: myfont;

}

.textcontainer{
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    align-content: center;
    padding: 20px;
    background-color: rgba(2, 223, 190, 60%);
    font-size: 35px;


}

#button{
    font-size: 1.5vw;
    text-decoration: dotted;
    text-underline-offset: 3px;
    padding: 0%;
    background-color: rgba(255, 77, 0, 60%);


}





#cock{
    opacity: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 0%;
    margin-top: 10px;
 
}

#textcontainer{
    display: flex;
    justify-content: right;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(50%-20%);
    border:2px;
    border-style: dashed;
    border-radius: 5%;
    transition: 0.5s;
    overflow: visible;

}


.photo img {
    width: auto;
    height: auto;
    max-width: 20%;
    min-width: 20%;
    display: flex;
    object-fit: contain;
}


@media (orientation: portrait){
    #cock{
        width: 100vw;
    }
}