h1{
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 10vh;
   color: rgb(255, 20, 0);

}

#cock{
    opacity: 80%;
    width: 50vw;

}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 0%;
    margin-top: 10px;
 
}